@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
   *,
   *::after,
   *::before {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
   }

   *::-moz-focus-inner {
      border: 0;
   }

   *:focus {
      outline: none;
   }

   ul {
      list-style: none;

   }

   a {
      text-decoration: none;
   }

   img {
      width: 100%;
      height: auto;
   }
   html {
      font-size: 62.5%;
      /*16px */
      scroll-behavior: smooth;
   }

   /* Large Devices (Desktops & Laptops) */
   @media (min-width: 1200px) and (max-width: 1299px) {}


   /* Medium Devices (Landscape Tablets & Medium Desktops) */
   @media (min-width: 992px) and (max-width: 1199px) {}


   /* Small Devices (Portrait Tablets & Small Desktops) */
   @media (min-width: 768px) and (max-width: 991px) {}


   /* Extra Small Devices (Landscape Phones & Portrait Tablets) */
   @media (max-width: 767px) {}

   /* Extra Small Devices (Portrait Phones & Smaller Devices) */
   @media (max-width: 420px) {
      html {
         font-size: 83.333%;
      }
   }

   /* Extra Small Devices (Portrait Phones & Smaller Devices) */
   @media (max-width: 360px) {
      html {

         font-size: 66.667%;
      }
   }


   /* Extra Small Devices (Portrait Phones & Smaller Devices) */
   @media (max-width: 320px) {
      html {
         font-size: 55%;
      }

   }
   body {
      height: 100vh;
      margin: 0 0 8em;
      padding: 0 0 8em;
      overflow-x: hidden;
      display: flex;
      justify-content: center;
      @apply font-body;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5;
      background-color: #f0f0f0;

   }

   h1,
   h2,
   h3,
   h4,
   h5 {
      margin: 3rem 0 1.38rem;
      @apply font-heading;
      font-weight: 600;
      line-height: 1.3;
   }

   h1 {
      font-size: 3.052rem;
   }

   h2 {
      font-size: 2.441rem;
   }

   h3 {
      font-size: 1.953rem;
   }

   h4 {
      font-size: 1.563rem;
   }

   h5 {
      font-size: 1.25rem;
   }

   p {
      margin-bottom: 1rem;
   }
}

@layer utilities{
   .flex-center {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .grid-center {
      display: grid;
      place-items: center;
   }
   .grid-container {
      margin: 3em auto;
      width: 90%;
      display: grid;
      row-gap: 3rem;
      column-gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   }
   .grid-column-1 {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      column-gap: 2rem;
   }
   .grid-column-2 {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      column-gap: 2rem;
   }
   .grid-column-3 {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      column-gap: 2rem;
   }
   .grid-column-4 {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      column-gap: 2rem;
   }
   .sub-heading-container {
      width: 80%;
      margin: 0 auto;
   }
   .sub-heading {
      margin-bottom: 1em;
      margin-left: 1em;
   }
   .row {
      float: left;
      width: 100%;
      padding: 20px 0 50px;
   }
   .form-input {
      position: relative;
   }

   .outer-container {
      margin: 0 auto;
      max-width: 1200px;
   }

   /* Extra small devices (portrait phones, less than 576px) */
   @media (max-width: 575px) {
      .wrapper {
         max-width: 100%;
      }
   }

   /* Small devices (landscape phones, less than 768px) */
   @media (max-width: 767px) {
      .wrapper {
         max-width: 544px;
      }
   }

   /* Medium devices (tablets, less than 992px) */
   @media (max-width: 991px) {
      .wrapper {
         max-width: 720px;
      }
   }

   /* Large devices (desktops, less than 1200px) */
   @media (max-width: 1199px) {
      .wrapper {
         max-width: 960px;
      }
   }

   /* Extra large devices (large desktops) */
   /* No media query since the extra-large breakpoint has no upper bound on its width */

   .wrapper {
      max-width: 1144px;
      margin: 0 auto;
   }
}

@layer components {

   /**************** effect-11 styles ****************/
   .effect-11 {
      position: relative;
      width: 100%;
      display: inline-block;
      padding: .5em 1em;
      line-height: 1.5;
      font-size: 16px;
      @apply font-body;
      letter-spacing: 1px;
      @apply text-gray-800;
      background-color: transparent;
      border: 1px solid gray;

   }

   .effect-11-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 100%;
      z-index: -1;
      margin: 0;
      padding: 0;
      @apply bg-gray-300;
      transition: 0.3s;
   }

   .effect-11:focus~.effect-11-bg {
      transition: 0.3s;
      width: 100%;
   }
   /**************** effect-04 styles ****************/
   .effect-04 {
      position: relative;
      width: 100%;
      display: inline-block;
      padding: 0.25em 0;
      font-size: 16px;
      @apply font-body;
      line-height: 1.5;
      letter-spacing: 2px;
      @apply text-gray-800;
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid dimgray;

   }

   .effect-04~.focus-border-04 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      @apply bg-gray-800;
      transition: 0.4s;
   }
   .effect-04:focus~.focus-border-04,
   .has-content.effect-04~.focus-border-04 {
      width: 100%;
      transition: 0.4s;
   }
   .effect-04~label {
      position: absolute;
      left: 0;
      width: 100%;
      top: 6px;
      font-size: 16px;
      @apply text-gray-600;
      transition: 0.3s;
      z-index: -1;
      letter-spacing: 2px;
   }
   .effect-04:focus~label,
   .has-content.effect-04~label {
      top: -16px;
      font-size: 20px;
      letter-spacing: 1px;
      @apply text-gray-800;
      transition: 0.3s;
   }

   /**************** effect-13 styles ****************/
   .effect-13 {
      position: relative;
      width: 100%;
      display: inline-block;
      @apply font-body;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 1px;
      @apply text-gray-800;
      background-color: transparent;
      padding: 8px 0 4px;
      border: 1px solid transparent;
      border-bottom-color: dimgray;
      transition: 0.4s;

   }

   .effect-13-border {
      position: absolute;
      height: 36px;
      bottom: 0;
      left: 0;
      width: 0;
      transition: 0.4s;
   }

   .effect-13:focus {
      padding: 4px 16px 8px;
      transition: 0.4s;
   }

   .effect-13:focus~.effect-13-border {
      width: 100%;
      transition: 0.4s;
      border: 2px solid dimgray;
   }

   /**************** effect-07 styles ****************/
   .form-input-07 {
      position: relative;
      width: 100%;
      margin: 12px 3%;
   }
   .effect-07 {
      position: relative;
      width: 100%;
      display: inline-block;
      padding: 8px 16px;
      @apply font-body;
      font-size: 20px;
      @apply text-gray-800;
      background-color: transparent;
      border-width: 1px;
      border-style: solid;
      border-color: dimgray;

   }

   .effect-07~.focus-background-07 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 100%;
      z-index: -1;
      @apply bg-gray-300;
      transition: 0.4s;
   }
   .effect-07:focus~.focus-background-07,
   .has-content.effect-07~.focus-background-07 {
      width: 100%;
      transition: 0.4s;
   }
   .effect-07~label {
      position: absolute;
      left: 8px;
      width: 100%;
      top: 8px;
      @apply text-gray-800;
      transition: 0.3s;
      z-index: -1;
      letter-spacing: 1px;
      font-size: 16px;
   }
   .effect-07:focus~label,
   .has-content.effect-07~label {
      top: -22px;
      font-size: 16px;
      letter-spacing: 1px;
      @apply text-gray-800;
      transition: 0.3s;
   }
/**************** effect-02 styles ****************/
   .effect-02 {
      position: relative;
      width: 100%;
      display: inline-block;
      padding: .5em 1em;
      @apply font-body;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 1px;
      @apply text-gray-800;
      background-color: transparent;
      border: 1px solid dimgray;
   }

   .effect-02-bg {
      position: absolute;
      left: 50%;
      top: 0;
      width: 0;
      height: 100%;
      z-index: -1;
      margin: 0;
      padding: 0;
      @apply bg-gray-300;
      transition: 0.3s;
   }

   .effect-02:focus~.effect-02-bg {
      transition: 0.3s;
      width: 100%;
      left: 0;
   }

   /**************** effect-05 styles ****************/
   .form-input-05 {
      position: relative;
      width: 100%;
      margin: 8px 3%;
   }
   .effect-05 {
      position: relative;
      width: 100%;
      display: inline-block;
      padding: 0.25em 0;
      @apply font-body;
      font-size: 20px;
      line-height: 1.5;
      letter-spacing: 1px;
      @apply text-gray-800;
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid dimgray;

   }

   .effect-05~.focus-border-05 {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 2px;
      @apply bg-gray-900;
      transition: 0.4s;
   }
   .effect-05:focus~.focus-border-05,
   .has-content.effect-05~.focus-border-05 {
      width: 100%;
      transition: 0.4s;
      left: 0;
   }
   .effect-05~label {
      position: absolute;
      left: 0;
      width: 100%;
      top: 12px;
      font-size: 16px;
      @apply text-gray-600;
      transition: 0.3s;
      z-index: -1;
      letter-spacing: 2px;
   }
   .effect-05:focus~label,
   .has-content.effect-05~label {
      top: -16px;
      font-size: 20px;
      letter-spacing: 1px;
      @apply text-gray-800;
      transition: 0.3s;
   }

   /**************** effect 08 ****************/
   .form-input-08 {
      position: relative;
      width: 100%;
      margin: 8px 3%;
   }

   .effect-08 {
      position: relative;
      width: 100%;
      display: inline-block;
      padding: 8px 16px;
      @apply font-body;
      font-size: 20px;
      line-height: 1.5;
      letter-spacing: 1px;
      @apply text-gray-800;
      background-color: transparent;
      border: 1px solid dimgray;

   }

   .effect-08~.focus-background {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
      height: 100%;
      z-index: -1;
      transition: 0.4s;
   }

   .effect-08:focus~.focus-background,
   .has-content.effect-08~.focus-background {
      width: 100%;
      transition: 0.4s;
   }

   .effect-08~.focus-background:before,
   .effect-08~.focus-background:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 0;
      height: 0;
      @apply bg-gray-300;
      transition: 0.3s;
      z-index: -1;
   }
   .effect-08:focus~.focus-background:before,
   .has-content.effect-08~.focus-background:before {
      left: 0;
      top: 0;
      width: 50%;
      height: 100%;
      transition: 0.3s;
   }
   .effect-08~.focus-background:after {
      left: auto;
      right: 50%;
      top: auto;
      bottom: 50%;
   }

   .effect-08:focus~.focus-background:after,
   .has-content.effect-08~.focus-background:after {
      transition: 0.3s;
      width: 50%;
      height: 100%;
      bottom: 0;
      right: 0;

   }

   .effect-08~label {
      position: absolute;
      left: 8px;
      width: 100%;
      top: 12px;
      font-size: 16px;
      @apply text-gray-800;
      transition: 0.3s;
      z-index: -1;
      letter-spacing: 2px;
   }

   .effect-08:focus~label,
   .has-content.effect-08~label {
      top: -24px;
      font-size: 18px;
      @apply text-gray-800;
      transition: 0.3s;
   }

   .effect-08:focus~label,
   .has-content.effect-08~label {
      top: -24px;
      left: 0;
      font-size: 18px;
      @apply text-gray-800;
      transition: 0.3s;
   }

}